<div class="row">
      <div class="quizSolve">
        <div class="col span-2-of-3">
          <div class = "like_button">
                 <%= render 'icons' %>
            </div>
          <p><strong>주제</strong> <%= @quiz.Category %></p>
          <div class="quizWrong">
            <p><%= @quiz.content %><p>
          </div>
          <div class="quizRightOrWrong js--ani-4">
            <h5>오답입니다</h5>
          </div>
          <a class="btn btn-share" href="#">
            퀴즈 공유하기
          </a>
          
          <a class="btn btn-half" href="/random/<%= @index %>/answer">
            정답 보기
          </a>
          
          <a class="btn btn-half" href= "/random/<%= @index %>">
            다시 풀기
          </a>
          
        </div>
      </div>
      
</div>