<div class="row">
      <div class="quizSolve">
        <div class="col span-2-of-3">
          <div class = "like_button">
            <%= render 'icons' %>
          </div>
          <p><strong>μ£Όμ </strong> <%= @quiz.Category %>
          <div class="actualQuiz js--ani-2">
            <p><%= @quiz.content %></p>
          </div>
          <form action='/random/<%= @index %>/check' method='post'>
            <input type="hidden" name = "quiz_id", id ="quiz_id" value=<%= @quiz.id%>>
            <input type="text" name="answer" id="answer" placeholder="μ •λ‹µ μ…λ ¥ν•κΈ°" required>
            <input class="btn btn-half"  type="submit" value="μ •λ‹µ ν™•μΈν•κΈ°" id="answerButtonRandom">
          <a class="btn btn-half" href="/random/<%= @index+1 %>">
            ν¨μ¤ν•κΈ°
          </a>
          </form>
        </div>
      </div>
      <div class="scoreBoard">
        <p>π¤μ μν‘π“‹</p>
        <!--<div class="right-wrong">-->
          
        <!--  β­•βββββββββ-->
          
        <!--</div>-->
        <div class="actualScore">
          <h1><%= $score*10 %></h1>
          <p>/100μ </p>
        </div>
      </div>
</div>


